/* styles.css */

.page-header {
    text-align: center;
}

/* Center the information text */
.information-text {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    font-size: large;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 25%; /* Set width to 25% of the page */
    max-width: 300px; /* Limit maximum width */
    padding: 10px;
    margin: 0 auto; /* Center the text box */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

select {
    width: 25%;
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px; /* Add margin-bottom to create space */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.container {
    margin-top: 20px;
}
.card-list {
    list-style-type: none;
    padding: 0;
}
.card {
    display: flex;
    align-items: center; /* Center vertically */
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card:hover {
    -webkit-transform: scale(1.008) translateZ(0);
    box-shadow: 0px 0px 10px 5px #000000;
}

.card-image-container {
    width: 10%; /* Set width of image container */
}
.card-image {
    width: 100%; /* Set image width to fill container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper alignment */
}

.card-details {
    flex: 1; /* Expand to fill remaining space */
    padding-left: 10px; /* Add padding to separate from image */
    margin-right: 50%;
    display: flex; /* Use flexbox */
    flex-direction: row; /* Stack child elements */
    align-items: center; /* Center child elements vertically */
    justify-content: space-between; /* Distribute space between elements */
}

.card-details-element {
    margin-right: 10px; /* Add margin between elements */
}

.card-name {
    font-weight: bold;
    font-size: large;
    color: #333; /* Dark color for card name */
}
.card-level {
    font-style: italic;
    color: #888; /* Lighter color for card level */
}
.card-rarity {
    color: #ff9800; /* Orange color for card rarity */
}
.card-upgrade-cards-needed {
    color: #000000; /* Color for card description */
}
.card-upgrade-gold-needed {
    font-weight: bold;
    color: #000000; 
}

.playerinfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.playerinfo p {
    font-size: large;
}