<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Names</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Player: {{ playerName }}</h1>
        <p>Required cards to reach level {{targetlevel}}</p>
        <ul>
            {% for card in cards %}
            <li class="card">
                    <div class="card-image-container">
                        <img src="{{ url_for('static', filename=card['image_path']) }}" alt="Card Image" class="card-image">
                    </div>
                    <div class="card-details">
                        <div class="card-details-element">
                            <p class="card-name">{{ card['name'] }}</p>
                            <p class="card-level">Level: {{ card['level'] }}</p>
                            <p class="card-rarity" style="color: {{ card['rarityColor'] }}">Rarity: {{ card['rarity'] }}</p>
                        </div>
                        <div class="card-details-element">
                            <p class="card-upgrade-cards-needed">Cards needed: {{ card['missingCards'] }}</p>
                            <p class="card-upgrade-gold-needed">Gold needed: {{ card['missingGold'] }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
