<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Names</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>List of Card Names</h1>
        <p>Required cards to reach level {{targetlevel}}</p>
        <ul>
            {% for card in cards %}
            <li class="card">
                    <div class="card-image-container">
                        <img src="{{ url_for('static', filename=card['image_path']) }}" alt="Card Image" class="card-image">
                    </div>
                    <div class="card-details">
                        <p class="card-name">{{ card['name'] }}</p>
                        <p class="card-level">Level: {{ card['level'] }}</p>
                        <p class="card-description">{{ card['description'] }}</p>
                        <p class="card-rarity">Rarity: {{ card['rarity'] }}</p>
                        <ul class="card-description-list">
                            <li class="card-description-item">
                                Needed cards: {{ card['missingCards'] }}
                            </li>
                            <li class="card-description-item">
                                Missing gold: {{ card['missingGold'] }}
                            </li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
